@model Software_Requirement_Specification.Models.TruongHoc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TruongHoc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenTruong" class="control-label"></label>
                <input asp-for="TenTruong" class="form-control" />
                <span asp-validation-for="TenTruong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HieuTruong" class="control-label"></label>
                <input asp-for="HieuTruong" class="form-control" />
                <span asp-validation-for="HieuTruong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoaiTruong" class="control-label"></label>
                <input asp-for="LoaiTruong" class="form-control" />
                <span asp-validation-for="LoaiTruong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="control-label"></label>
                <input asp-for="WebSite" class="form-control" />
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
